{% extends 'layout.html' %}

{% block body %}
<section class="section-faq">
  <div class="pagina_titulo">
    <h1><u>AYUDA / FAQs</u></h1>
  </div>
    <div class="container">
      <div id="container-faq">
      <div class="card">
            <div class="card-header">
              <h5> ¿Cuánto tiempo tarda en efectuarse la transacción? </h5>
            </div>
            <div class="card-body">
              <p class="card-text">Normalmente la transferencia se realiza en un plazo de 10 minutos (entre las 8am y las 10pm). Fuera de estos horarios puede llegar a tardar entre 1 y 6 horas. Si ya han pasado más de 24 horas desde que has realizado la solicitud algo ha ido mal. Puedes ponerte en contacto con nosotros.</p>
            </div>
          </div>
      <div class="card">
            <div class="card-header">
              <h5> ¿Es seguro el método?</h5>
            </div>
            <div class="card-body">
              <p class="card-text">El método que utilizamos es completamente seguro, válido y funcional.</p>
            </div>
          </div>
      <div class="card">
            <div class="card-header">
              <h5> Me he confundido con alguno de los datos ¿qué hago?</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Si esto te ocurre lo mejor es que te pongas en contacto con nosotros lo antes posible. Si nos damos cuenta no utilizaremos tu código y trataremos de ponernos en contacto contigo de inmediato. En el caso de que nos resultara imposible no nos hacemos responsables de los posibles daños causados por este motivo.</p>
            </div>
          </div>
      <div class="card">
            <div class="card-header">
              <h5> ¿Sirve para cualquier moneda?</h5>
            </div>
            <div class="card-body">
              <p class="card-text"> No, por el momento solo podemos transferir pines comprados en España (y por lo tanto en euros)</p>
            </div>
          </div>
              <div class="card">
            <div class="card-header">
              <h5> ¿Cómo puedo canjear más de un pin paysafecard?</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Para transferir más de un código realiza el proceso de transferencia una vez para cada pin paysafecard. De esta manera recibiremos todos los pines y te realizaremos la transacción del importe completo.</p>
            </div>
          </div>
<!--		<div class="card">
            <div class="card-header">
              <h5> ¿Me pueden transferir solo una parte del dinero que tengo en el pin paysafecard?  </h5>
            </div>
            <div class="card-body">
              <p class="card-text">Sí, indícanoslo en el apartado de <i>notas</i> cuando vayas a realizar la transferencia. La <a href="/comisiones" class="badge badge-light">comisión</a> se restará del importe que nos digas por lo que ten en cuenta que te llegará un poco menos de dinero del que nos indiques a transferir. Si no nos pones nada te haremos la transferencia de todo el dinero que se encuentre en pin.</p>
            </div>
          </div>-->
      <div class="card">
            <div class="card-header">
              <h5>Cóntactanos</h5>
            </div>
            <div class="card-body">
              <p class="card-text"> <b>Correo electrónico</b>: <i>soporte@exconverters.com</i></p>
              <p class="card-text"> <b>Instagram</b>: <i>@paysafecardapaypal</i></p>
              <p class="card-text"> <b>Discord</b>: <i><a href="https://discord.gg/xqMjMm5">https://discord.gg/xqMjMm5</a></i></p>
              <!--<p class="card-text"> <b>Atención telefónica</b>: <i>XXX.XXX.XXX</i></p>-->
            </div>
          </div>
      <center><h5>Soporte por Discord 24/7 (abrir ticket), soporte de la comunidad y reseñas de otros clientes:</h5>
      <iframe src="https://discord.com/widget?id=764606351153954846&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </center>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </div>
  </section>

{% endblock %}